<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <Div class="form">
  <b><p><font color="blueviolet">Please fill this form...</font></p></b><br>
  <form action="/register" method="POST">
  <label><big>Name:</big> <input type="text" name="name"></label><br><br>
  <big>Are you from IIT B?</big><br>
  <label>Yes<input type="radio" name="ans" value="Yes"></label>
  <label>No<input type="radio" name="ans" value="No"></label><br>
  <br><label><big>If yes then type your Roll NO.-</big><input type="numer" name="number"> </label>
  <br><br><big>Doubt</big><small>(Post your doubt here)</small>:<br><br> <textarea name="doubt" style="margin-top:0em;
  height:150px;
  width:300px;
  padding:1em;" placeholder="Please post doubt" name="doubt"></textarea>
  <br><br><label><Big>Email id:</Big><input type="email" name="email"></label>
  <br><br><lebel><big>Password:</big><input type="password" name="password"></lebel>
  <br><br><label><input type="submit" style="cursor:pointer" name="submit" ></label>
</form></Div>   
</body>
<style>.form{
  border-style: outset;
  border-color: blueviolet;
  padding:2em;
  margin-left:20%;
  margin-right: 20%;
  margin-top:5%;
  margin-bottom:10%;
  border-radius: 50px;
  background-color: rgba(0, 255, 255, 0.188);
 }</style>
</html>